header {
    background-image: url('../imagens/bg_fundo_cabecalho.png');
    background-repeat: repeat-x;
}

.logo-pagina {
    background-color: white; 
    float: left;
    width: 41.22%;
    height: 179px;
}

.menu {
    height: 12em;
    float: left;
    clear: right;
    text-align: center;
    background-image: inherit;
    background-repeat: inherit;
    width: 58.78%;
}

.menu li {
    display: inline;
}

main {
    width: 60em;
    height: 35em;
    background-color: beige;
    right: 80px;
    float: left;
}



    